{% extends "base.html" %}

{% block content %}

<div class="plans-container">

    <h1 class="title">View Plans</h1>

    <h5 class="title">(Click Edit to see AP Numbers Associated with a Plan)</h5>

    <div class="plans-table-container">
        <table class="table" id="plan-table">
            <th>Plan ID</th>
            <th>Package</th>
            <th>Location</th>
            <th>No. Sheets</th>
            <th>Comments</th>
            <th>Date Added</th>
            <th>Last Edit</th>
            <th>Edit</th>
            {% for plan in plans %}
            <tr>
                <td>
                    {{ plan.id }}
                </td>
                <td>
                    {{ plan.package|capitalize }}
                </td>
                <td>
                    {{ plan.location|capitalize }}
                </td>
                <td>
                    {% if plan.sheetno == None %}
                    0
                    {% else %}
                    {{ plan.sheetno }}
                    {% endif %}
                </td>
                <td>
                    {% if plan.comments == None %}
                    {% else %}
                        {{ plan.comments }}
                    {% endif %}
                </td>
                <td>
                    {{ plan.dateadded.strftime('%Y-%m-%d') }}
                </td>
                <td>
                    {% if plan.editdate == None %}
                    {% else %}
                        {{ plan.editdate.strftime('%Y-%m-%d') }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('plans.edit', plan_id=plan.id) }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}