/* Containers */

@media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0;
      margin: auto;
    }
}
  
@media (min-width: 550px) {
    .container {
      width: 80%;
      margin: auto; 
    }
}

@media (min-width: 400px) {
    .index-container {
      width: 45%;
      display: flex;
      margin: auto;
      padding-top: 200px;
      justify-content: center;
      align-items: center;
    }
}
  
@media (min-width: 550px) {
    .index-container {
      width: 40%;
      display: flex;
      margin: auto;
      padding-top: 200px;
      justify-content: center;
      align-items: center;
    }
}

@media (min-width: 400px) {
    .form-container {
      width: 45%;
      padding: 0;
      margin: auto;
    }
}
  
@media (min-width: 550px) {
    .form-container {
      width: 40%;
      margin: auto;
    }
}

@media (min-width: 400px) {
    .search-container {
      width: 65%;
      padding: 0;
      margin: auto;
    }
}
  
@media (min-width: 550px) {
    .search-container {
      width: 60%;
      margin: auto;
    }
}

/* Flash messages */

.flash { 
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #cae6f6; 
    border: 1px solid #377ba8;
    text-align: center;
}

/* Titles */
.title {
    text-align: center;
}

/* Button formatting */
.pull-right {
    float: right !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-secondary {
    color: #fff;
    background-color: #598cd1;
    border-color: #457ecb;
}

/* Index Page */
.index-button {
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

/* Search Page */
#search-form {
    width: 40%;
    margin: auto;
}