{% extends "base.html" %}

{% block assets %}
<script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}

{% block content %}

<div class="form-container">

    <h1 class="title">Edit Plan {{ plan.id }}</h1>

        <div class="form-group">
            <div>
                <label for="ap-number-input" class="form-label" >AP Number</label>
                <span class="required-label form-label">(required, click the add button to enter multiple)</span>
                <div id="add-apno-button" class="form-label">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                </div>
            </div>
            <div id="ap-number-input-list">
                {% for apno in apnos %}
                    <div id="ap-number-input">
                        <input type="text" name="apno-input" value="{{ apno[0] }}">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="package-input" class="form-label" >Package</label>
                <span class="required-label form-label">(required)</span>
            </div>
            <select name="package-input" id="package-input">
                {% if plan.package == "roll" %}
                    <option value="roll" {% if plan.package == "roll" %} selected{% endif %}>Roll</option>
                    <option value="flat" {% if plan.package == "flat" %} selected{% endif %}>Flat</option>
                {% else %}
                <option value="roll">Roll</option>
                <option selected value="flat">Flat</option>
                {% endif %}
            </select>
        </div>

        <div class="form-group">
            <div>
                <label for="location-input" class="form-label">Location</label>
                <span class="required-label form-label">(required)</span>
            </div>
            <select name="location-input" id="location-input">
                <option value="bins" {% if plan.location == "bins" %} selected{% endif %}>Bins</option>
                <option value="large-plan" {% if plan.location == "large-plan" %} selected{% endif %}>Large Plan</option>
                <option value="zoning" {% if plan.location == "zoning" %} selected{% endif %}>Zoning</option>
                <option value="electrical" {% if plan.location == "electrical" %} selected{% endif %}>Electrical</option>
                <option value="plumbing" {% if plan.location == "plumbing" %} selected{% endif %}>Plumbing</option>
            </select>
        </div>

        <div class="form-group">
            <div>
                <label for="comments-input" class="form-label">Comments</label>
            </div>
            {% if plan.comments == None %}
            <input name="comments-input" type="text" value=""/>
            {% else %}
            <input name="comments-input" type="text" value="{{ plan.comments }}"/>
            {% endif %}
        </div>
        <div class="pull-right confirm-btn-outer">
            <form action="{{ url_for('edit', plan_id=plan.id) }}" method="post" class="confirm-btn-inner">
                <button class="btn btn-secondary submit-button">
                    <span>Submit</span>
                </button>
            </form>
            <form action="{{ url_for('delete', plan_id=plan.id) }}" method="post" class="confirm-btn-inner">
                <button class="btn btn-decline submit-button">
                    <span>Delete Plan</span>
                </button>
            </form>
        </div>

</div>

{% endblock %}