{% extends "base.html" %}

{% block assets %}
<script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}

{% block content %}
 
<div class="form-container">

    <h1 class="title">Enter a Plan</h1>

    <form action="{{ url_for('form') }}" method="post">

        <div class="form-group">
            <div>
                <label for="ap-number-input" class="form-label" >AP Number</label>
                <span class="required-label form-label">(required, click the add button to enter multiple)</span>
                <div id="add-apno-button" class="form-label">
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                </div>
            </div>
            <div id="ap-number-input-list">
                <div id="ap-number-input">
                    <input type="text" name="apno-input">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div>
                <label for="package-input" class="form-label" >Package</label>
                <span class="required-label form-label">(required)</span>
            </div>
            <select name="package-input" id="package-input">
                <option value="roll">Roll</option>
                <option value="flat">Flat</option>
            </select>
        </div>

        <div class="form-group">
            <div>
                <label for="location-input" class="form-label">Location</label>
                <span class="required-label form-label">(required)</span>
            </div>
            <select name="location-input" id="location-input">
                <option value="bins">Bins</option>
                <option value="large-plan">Large Plan</option>
                <option value="zoning">Zoning</option>
                <option value="electrical">Electrical</option>
                <option value="plumbing">Plumbing</option>
            </select>
        </div>

        <div class="form-group">
            <div>
                <label for="comments-input" class="form-label">Comments</label>
            </div>
            <input name="comments-input" type="text"/>
        </div>

        <div class="pull-right">
            <button class="btn btn-secondary submit-button">
                <span>Submit</span>
            </button>
        </div>

    </form>

</div>

{% endblock %}