{% extends "base.html" %}

{% block content %}
    
    <div class="index-container">
        <a href="{{ url_for('plans') }}">
            <div class="index-button">
                <div>
                    <i class="fa fa-address-book fa-5x" aria-hidden="true"></i>
                </div>
                <div>
                    <h2>View Plans</h2>
                </div>
            </div>
        </a>
        <a href="{{ url_for('search') }}">
            <div class="index-button">
                <div>
                    <i class="fa fa-search-plus fa-5x" aria-hidden="true"></i>
                </div>
                <div>
                    <h2>Search By AP Number</h2>
                </div>
            </div>
        </a>
        <a href="{{ url_for('form') }}">
            <div class="index-button">
                <div>
                    <i class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i>
                </div>
                <div>
                    <h2>Enter a Plan</h2>
                </div>
            </div>
        </a>
    </div>

{% endblock %}