{% extends "base.html" %}

{% block content %}
    
<div class="search-container">

    {% if permit %}
        <h2 class="title">Permit Information</h2>
        <table class="table" id="permit-table">
            <th>AP Number</th>
            <th>Address</th>
            <th>AP Type</th>
            <th>Examiner</th>
            <th>Date Advanced to Plans Reviewed Stage</th>
            <tr>
                <td>
                    {{ permit.apno }}
                </td>
                <td>
                    {{ permit.address }}
                </td>
                <td>
                    {{ permit.aptype }}
                </td>
                <td>
                    {{ permit.examiner }}
                </td>
                <td>
                    {{ permit.apdttm }}
                </td>
            </tr>
        </table>
    {% endif %}
    {% if plans %}
        <h2 class="title">Plan Information</h2>
            {% for plan in plans %}
                <table class="table" id="plan-table">
                    <th>Package</th>
                    <th>Location</th>
                    <th>Number of Sheets</th>
                    <tr>
                        <td>
                            {{ plan.package|capitalize }}
                        </td>
                        <td>
                            {{ plan.location|capitalize }}
                        </td>
                        <td>
                            {{ plan.sheetno }}
                        </td>
                    </tr>
                </table>
            {% endfor %}
    {% endif %}
    <h1 class="title">Search for Plans</h1>

    <form action="{{ url_for('search') }}" method="post">

        <div class="form-group" id="search-form">
            <div>
                <label for="ap-number-input" class="search-label">AP Number</label>
                <span class="required-label search-label">(required)</span>
            </div>
            <div id="ap-number-input">
                <input type="text" name="apno-form">
            </div>
        </div>
    
    </form>

</div>

{% endblock %}